/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* Background */
body {
    background: #e8f3ff; /* Light Blue */
}

.page-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Card */
.login-card {
    width: 850px;
    height: 480px;
    background: white;
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
}

/* LEFT IMAGE */
.left-side {
    width: 50%;
    background: #f2fbff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 90%;
    height: auto;
}

/* RIGHT FORM */
.right-side {
    width: 50%;
    padding: 50px 40px;
}

.right-side h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
}

/* Inputs */
label {
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #d7dff0;
    background: #eef3ff;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: #4ab8ff;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #4AB8FF;  /* Light blue */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.login-btn:hover {
    background: #3aa5f0;
}
