/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* Background */
body {
    background: #daf0ff;
}

.page-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Card Container */
.login-card {
    width: 850px;
    height: 480px;
    background: white;
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
}

/* LEFT IMAGE SECTION */
.left-side {
    width: 50%;
    background: #f4faff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 90%;
    height: auto;
}

/* RIGHT FORM SECTION */
.right-side {
    width: 50%;
    padding: 50px 40px;
}

.right-side h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0077cc;
    font-size: 26px;
    font-weight: 700;
}

/* Labels */
label {
    font-weight: 600;
    color: #003f66;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #bcdcff;
    background: #eef6ff;
    font-size: 15px;
}

input:focus {
    border-color: #66b5ff;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #66b5ff;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.login-btn:hover {
    background: #0077cc;
}

/* Register Link */
.register-link {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
}

.register-link a {
    color: #0077cc;
    font-weight: 600;
    text-decoration: none;
}
