* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #daf0ff; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper that holds left + right */
.wrapper {
    width: 900px;
    height: 520px;
    background: white;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LEFT IMAGE SECTION */
.left-side {
    width: 50%;
    background: #e7f4ff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 95%;
    height: auto;
}

/* RIGHT FORM SECTION */
.right-side {
    width: 50%;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-card {
    width: 100%;
}

.reg-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077cc;
}

/* Inputs */
label {
    font-weight: 600;
    color: #003f66;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: #eef6ff;
    border-radius: 8px;
    border: 1px solid #bcdcff;
    font-size: 15px;
}

input:focus {
    border-color: #66b5ff;
}

/* Button */
.reg-btn {
    width: 100%;
    padding: 12px;
    background: #66b5ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.reg-btn:hover {
    background: #0077cc;
}

/* Login link */
.login-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.login-link a {
    color: #0077cc;
    font-weight: 600;
    text-decoration: none;
}
