* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #daf0ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper */
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card with LEFT + RIGHT layout */
.reg-card {
    width: 850px;
    height: 500px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}

/* LEFT SIDE IMAGE */
.left-side {
    width: 50%;
    background: #e6f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 90%;
}

/* RIGHT FORM */
.right-side {
    width: 50%;
    padding: 35px;
}

.right-side h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077cc;
}

/* Inputs */
label {
    font-weight: 600;
    color: #003f66;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: #eef6ff;
    border-radius: 8px;
    border: 1px solid #bcdcff;
    font-size: 15px;
}

input:focus {
    border-color: #66b5ff;
}

/* Button */
.reg-btn {
    width: 100%;
    padding: 12px;
    background: #66b5ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.reg-btn:hover {
    background: #0077cc;
}

/* Login Link */
.login-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.login-link a {
    color: #0077cc;
    font-weight: 600;
    text-decoration: none;
}
